.but-deslog{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: none;
    font-family: Roboto;
    font-size: 18px;
    height: 40px;
    border: solid 2px rgb(61, 174, 250);
    color: rgb(61, 174, 250);
    padding: 15px;
    transition: all 0.5s;
    margin-top: 15px;
}

.but-deslog:hover{
    background-color: rgb(61, 174, 250);
    color: white;
}