.login-container{
    width: 100vw;
    display: flex;
    
    flex-wrap: wrap;
   
    border-radius: 4px;
    background-color: rgb(224, 224, 252);
}

.login-container .infors {
    width: 550px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.login-container .infors p {
    margin-top: 20px;
    font-size: 35px;
    font-family: Roboto;
    color: #5578c4;
    font-weight: bold;
}

.login-container .infors img{
    margin-top: 40px;
    width: 100%;
    height: 320px;
}

.login-container form{
    font-size: 18px;
    flex-wrap: wrap;
    font-family: Roboto;
    color: #323232;
    display: flex;
    justify-content: center;
    max-width: 400px;
    padding: 30px;
   
    flex-direction: column;
    border-radius: 8px;
}

.login-container form img{
    margin-bottom: 60px;
    max-width: 200px;
    width: 200px;
    height: 120px;
    max-height: 120px;
}

.login-container form input{

    margin-bottom: 20px;
    display: flex;
    font-size: 17px;
    font-family: Roboto;
    color: #323232;
    min-width: 200px;
    height: 45px;
    padding-left: 5px;
    border: solid 1px #cccccc;
    outline: none;
    border-radius: 6px;
}

.login-container form button{
    border: none;
    margin-top: 20px;
    height: 50px;
    font-family: Roboto;
    font-size: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2982d4;
    border-radius: 8px;
  
    outline: none;
    transition: filter all 0.6s;
}

.login-container form button:hover{
    filter: brightness(94%);
}