.container-my-point{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.container-my-point header{
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
  
    flex-wrap: wrap;
}

.container-my-point  section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 450px;
    flex-wrap: wrap;
}

.container-my-point header section img{
    
    width: 100%;
    border-radius: 10px;
    
}

.container-my-point  section span{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px rgb(127, 167, 219);
    background-color: rgb(127, 167, 219);
}

.container-my-point  section legend{
    font-family: Roboto;
}

.container-my-point header section .infors-point{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    background-color: white;
 

}

.container-my-point header section .container-data{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.container-my-point header section .container-data .group-data{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    max-width: 200px;
    flex-wrap: wrap;
}

.container-my-point header section .container-data .group-data strong{
    font-size: 20px;
    font-family: Roboto;
    color:  rgb(66, 68, 70);
    ;
}

.container-my-point header section .container-data .group-data p{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(88, 88, 88);
}


.container-my-point main{
    width: 100%;
    display: flex;
   
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    
    flex-wrap: wrap;
}

.container-my-point main section .leaflet-container{
    margin-top: 10px;
    width: 100%;
    height: 350px;
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}










 