.points-container{
    width: 100%;
    height: 100%;
}

.points-container header{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
}
.points-container header span{
    padding: 20px;
    display: flex;
    width: 180px;
    justify-content: space-between;
    align-items: center;
    color: #4084B5;
    font-size: 18px;
    font-family: Ubuntu;
}

.points-container header img{
    max-width: 160px;
    max-height: 110px;
}

.points-container  h1,h2{
    color: #4084B5;
    font-family: Ubuntu;
    line-height: 40px;
    
}

.points-container h3{
    padding-left: 15px;
    font-family: Roboto;
    color: #4084B5;
   
    
}



.points-container main{
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.points-container main .register-container{
   
    display: flex;
    max-width: 650px;
    width: 600px;
    min-width: 220px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 20px;
    border: solid 2px rgb(224, 224, 224);
    background-color:white;
    border-radius: 8px;
}