form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form .group-input{
    margin-top: 20px;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

form .inputs{
    
    display: flex;
    color: rgb(137, 153, 194);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    margin-top: 20px;
}

form .inputs input{
    padding-left: 8px;
    margin-top: 10px;
    outline: none;
    border: solid 2px rgb(209, 209, 209);
    border-radius: 4px;
    height: 35px;
    max-width: 100%;
    min-width: 250px;
    background-color: #F0F0F5;
}

form .inputs select{
    padding-left: 8px;
    margin-top: 10px;
    outline: none;
    border: solid 2px rgb(209, 209, 209);
    border-radius: 4px;
    height: 40px;
    font-size: 16px;
    max-width: 100%;
    min-width: 250px;
    background-color: #F0F0F5;
}

form .leaflet-container{
    margin-top: 20px;
    width: 100%;
    height: 350px;
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}