form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form .group-input{
    margin-top: 20px;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

form .inputs{
    
    display: flex;
    color: rgb(117, 134, 177);
    font-weight: bold;
    font-family: Roboto;
    flex-direction: column;
    margin-top: 20px;
}

form .inputs input{
    padding-left: 8px;
    margin-top: 10px;
    outline: none;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 4px;
    height: 35px;
    display: flex;
    max-width: 100%;
    min-width: 240px;
    background-color: #F0F0F5;
}

form .inputs select{
    display: flex;
    padding-left: 8px;
    margin-top: 10px;
    outline: none;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 4px;
    height: 45px;
    font-size: 16px;
    font-family: Roboto;
    color: rgb(58, 59, 65) ;
    font-weight: 600;
    max-width: 100%;
    min-width: 250px;
    background-color: #F0F0F5;
}

form .leaflet-container{
    margin-top: 20px;
    width: 100%;
    height: 350px;
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

form .container-but-submit{
    display: flex;
    justify-content: center;
    align-items: center;
   
    flex-wrap: wrap;
}

form .submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    min-width: 250px;
    padding: 0;
    background-color: #6ab1e4;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    transition: filter 1s;
}

form .submit:hover{
    filter: brightness(90%);
}

form .submit span{
    display: flex;
    width: 50px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    background-color: #85bad6;
    height: 40px;
    border-radius: 8px 0px 0px 8px;
}

form .submit h4{
    padding-left: 20px;
}
